body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.5;
  margin: 30px auto;
}

.section-heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.nav-item {
  margin: 0 18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

/* Download Buttons */

.download-btn {
  margin: 5% 3% 5% 0;
}

/* Title */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.iphone-img {
  margin-right: 0px;
  position: absolute;
  right: 30%;
  transform: rotate(25deg);
  width: 60%; /* This unit makes the image a 60% of what it used to be */
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 700;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .iphone-img {
    position: static;
    transform: rotate(0);
  }

}

/* Features */

#features {
  position: relative;
}

.features {
  font-size: 0.85rem;
}

.feature-column {
  padding: 4.5%;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* Testimonials */

#testimonials {
  background-color: #ef8172;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  padding-top: 20px;
  width: 10%;
}

/* Press */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.dog-breed {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Call To Action */


/* Footer */

#footer {
  font-size: 0.7rem;
}

@@media (max-width: 700px) {

  #footer {
    font-size: 0.5rem;
  }

}

.sm-icon {
  padding: 2% 1%;
}
